<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donghun2017.alramgom">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RepeatAddActivity" />
        <activity android:name=".OneOffAddActivity" />
        <activity android:name=".Sound1Activity"/>
        <activity android:name=".Sound2Activity" />
        <activity android:name=".Sound3Activity" />
        <activity android:name=".Sound4Activity" />
        <activity android:name=".Sound5Activity" />
        <activity android:name=".Sound6Activity" />
        <activity android:name=".Sound7Activity" />
        <activity android:name=".Sound8Activity" />
        <activity android:name=".Sound9Activity" />
        <activity android:name=".Sound10Activity" />
        <activity android:name=".Sound11Activity" />
        <activity android:name=".Sound12Activity" />
        <activity android:name=".Sound13Activity"></activity>
    </application>

</manifest>